.row {
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.icon {
    background-image: url('https://bauns.co/assets/img/logos/bauns_red.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 25vw;
    height: 38px;
}


.col-icon {
    display: flex;
    width: 95%;
    justify-content: center;
}

.back-button {
    display: flex;
    justify-content: end;
}

.icon-back {
    color: #EE0048;
    font-size: 45px;
}